# Constellation
# Pluggable authoritative DNS server
# Configuration file
# Example: https://github.com/valeriansaliou/constellation/blob/master/config.cfg


[server]

log_level = "warn"

[dns]

inets = [
  "0.0.0.0:53",
  "[::]:53"
]

tcp_timeout = 2

nameservers = ["a.ns.crisp.email", "b.ns.crisp.email"]

soa_master = "a.ns.crisp.email"
soa_responsible = "hostmaster.crisp.email"
soa_refresh = 10000
soa_retry = 2400
soa_expire = 604800
soa_ttl = 3600

record_ttl = 3600

[dns.zone.'crisp.email']

[geo]

database_path = "./res/geo/"
database_file = "GeoLite2-Country.mmdb"

update_enable = true
update_interval = 864000
update_url = "https://geolite.maxmind.com/download/geoip/database/GeoLite2-Country.tar.gz"

[http]

inet = "[::1]:8080"
workers = 2
record_token = "REPLACE_THIS_WITH_A_SECRET_KEY"

[redis]

host = "localhost"
port = 6379

database = 0

pool_size = 8
max_lifetime_seconds = 20
idle_timeout_seconds = 600
connection_timeout_seconds = 5
