# Constellation
# Pluggable authoritative DNS server
# Configuration file
# Example: https://github.com/valeriansaliou/constellation/blob/master/config.cfg


[server]

log_level = "warn"
inet = "[::1]:53"

[redis]

host = "localhost"
port = 6379

database = 0

pool_size = 8
max_lifetime_seconds = 60
idle_timeout_seconds = 600
connection_timeout_seconds = 5
